config-page
    .panel.panel-default(ng-repeat="(project_id, project) in cfg.projects")
        .panel-heading
            .panel-title
                | {{ project.name }}&nbsp;
                span.label.label-default(title="{{ project.repository }} | {{ project.branch }}")
                    | {{ project.vcs_type }}
                .btn.btn-xs.btn-default.pull-right(ng-click="toggle_show(project_id)")
                    i.fa.fa-sliders
                | &nbsp;
                span(ng-repeat="tag in project.tags")
                    .label.label-success {{ tag }}
                    | &nbsp;
                span(ng-repeat="stage in project.stages")
                    .label.label-default {{ stage }}
                    | &nbsp;
        .panel-body(ng-show="is_shown(project_id)")
            ng-form.form-horizontal(name="form")
                .form-group(show-errors)
                    label.col-sm-2.control-label Project name:
                    .col-sm-8
                        input.form-control(type="text", ng-model="project.name", name="name"
                                           placeholder="Project Name", required)
                        p.help-block(ng-if="form.name.$error.required") The projects's name is required
                    .col-sm-2
                        .pull-right.btn.btn-danger(ng-click="project_remove(project)")
                            | delete project
                .form-group
                    label.col-sm-2.control-label Tags:
                    .col-sm-10
                        input-tags(tags="project.tags", all-tags="allTags")
                .form-group
                    label.col-sm-2.control-label Stages:
                    .col-sm-10
                        input-tags(tags="project.stages", all-tags="allStages", placeholder="Add a stage")
                .form-group
                    label.col-sm-2.control-label VCS type:
                    .col-sm-2
                        select.form-control(ng-model="project.vcs_type",
                            ng-options="key as key for (key, value) in buildbot_travis.supported_vcs")
                    span.col-sm-8.control-label
                        | {{buildbot_travis.supported_vcs[project.vcs_type]}}
                .form-group
                    label.col-sm-2.control-label Branch(es):
                    .col-sm-6
                        input-tags(tags="project.branches", all-tags="allBranches", placeholder="Add a branch")
                    span.col-sm-4.control-label
                        | use '*' character for matching several branches
                .form-group
                    label.col-sm-2.control-label Tree Stable Timer:
                    .col-sm-4
                        input.form-control(type="number", ng-model="project.treeStableTimer", name="treeStableTimer"
                                           placeholder="None")
                    span.col-sm-6.control-label
                        | Time in seconds during which Buildbot agregates changes before kicking a build.
                .form-group(ng-if="project.vcs_type == 'github'")
                    label.col-sm-2.control-label GitHub token:
                    .col-sm-4
                        input.form-control(name="github_token", type="text", ng-model="project.github_token",
                                           required)
                    span.col-sm-6.control-label
                        | use 'env:`TOKEN`' to get the token from environment variable.
                        br
                        | use 'file:fn.txt' to get the token from a file.
                .form-group(ng-if="project.vcs_type == 'github'")
                    label.col-sm-2.control-label GitHub Reporter Title:
                    .col-sm-6
                        input.form-control(name="reporter_context", type="text", ng-model="project.reporter_context",
                                           placeholder="buildbot:%(prop:reason)s", required)
                    span.col-sm-4.control-label
                        | Interpolated value for the title given to GitHub status lines.
                .form-group(show-errors)
                    label.col-sm-2.control-label Repository:
                    .col-sm-10
                        input.form-control(name="repository", type="text", ng-model="project.repository",
                                           placeholder="git://url/to/repo.git", required)
                        p.help-block(ng-if="form.repository.$error.required") The projects's name is required
    .btn.btn-default.pull-right(ng-click="new_project()") New Project
